$primary: #00b06d;
// .mdb-footer{
//     display:none;
// }

.jumbotron{
    background-color: $primary;
    min-height: 300px;
    display: grid;
    place-items: center;

    h1{
        color: #fff !important;
    }
}
