<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- Demo styles -->
    <!-- Demo styles -->
    <style>
      html,
      .swiper-container {
        width: 100%;
        height: 100%;
        padding: 50px 0;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

<section class="container">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
          <div class="row">
            <div class="col-md-12">
              <button class="cat-all register" style="width: 200px; padding: 0.5rem 1rem;">All Categories</button>
              <button class="cat-1 register" style="width: 200px; padding: 0.5rem 1rem;">Design</button>
              <button class="cat-2 register" style="width: 200px; padding: 0.5rem 1rem;">Software</button>
              <button class="cat-3 register" style="width: 200px; padding: 0.5rem 1rem;">Backend</button>

              <input type="text" id="filter-search" placeholder="Search"/>
              <input placeholder="Search" id="search-users" class="search-users" type="text" autofocus>
            </div>
          </div>
          <div class="row mt-3">
            %for course in courses[:homepage_course_max]:      
              <div class="col-md-3 col-sm-6 mb-4 user" filter-value="${course.display_name_with_default.replace(' ', '')}">
                <%include file="course.html" args="course=course" />
              </div>  
            %endfor
          </div>

          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

           <script>          
              $(document).ready(function(){
                var activeCat = "";
                function filterGroup(group){
                  if(activeCat != group){
                    $(".course").filter("."+group).show();
                    $(".course").filter(":not(."+group+")").hide();
                    activeCat = group;
                  }
                }
                
                $(".cat-all").click(function(){
                  $(".course").show();
                  activeCat = "all";
                });


                $(".cat-1").click(function(){ filterGroup("STC"); });
                $(".cat-2").click(function(){ filterGroup("fdp"); });
                $(".cat-3").click(function(){ filterGroup("MT"); });
              });
           </script>

           <script>
              var inputId 	= 'filter-search';
              var itemsData 	= 'filter-value';
              var displaySet = false;
              var displayArr = [];

              function getDisplayType(element) {
                var elementStyle = element.currentStyle || window.getComputedStyle(element, "");
                return elementStyle.display;
              }

              document.getElementById(inputId).onkeyup = function() {
                var searchVal = this.value.toLowerCase();
                var filterItems = document.querySelectorAll('[' + itemsData + ']');

                for(var i = 0; i < filterItems.length; i++) {
                  if (!displaySet) {
                    displayArr.push(getDisplayType(filterItems[i]));
                  }

                  filterItems[i].style.display = 'none';
                  if(filterItems[i].getAttribute('filter-value').indexOf(searchVal) >= 0) {
                    filterItems[i].style.display = displayArr[i];  
                  }
                }
                
                displaySet = true;
              }
           </script>

           <!-- new search field -->
           <script>
             var searchUsers = document.querySelector('#search-users'),
                  users = document.querySelectorAll('.user'),
                  usersData = document.querySelectorAll('.user-data'),
                  searchVal;

              searchUsers.addEventListener('keydown', function() {
                searchVal = this.value.toLowerCase();
                
                for (var i = 0; i < users.length; i++) {
                  if (!searchVal || usersData[i].textContent.toLowerCase().indexOf(searchVal) > -1) {
                    users[i].style['display'] = 'flex';
                  }
                  else {
                    users[i].style['display'] = 'none';
                  }
                }
              });
           </script>

     
        
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif
</section>