## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<!-- <div class="footer-clean border">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col"><a href="#" style="color: black;">About</a><a href="#" style="margin-left: 10px;color: black;">Research</a><a href="#" style="margin-left: 10px;color: black;">FAQs</a><a href="#" style="margin-left: 10px;color: black;">Contact Us<br /><br /></a><img
                      src="${static.url('images/logo.png')}" style="height: 80px;" /></div>
              <div class="col text-right" style="height: 102px;"><a style="margin-right: 10px;color: black;width: auto;font-size: 13px;">MOOCs</a><a href="#" style="margin-right: 10px;color: black;font-size: 13px;">Team of Service and Policiles</a><a href="#" style="/*margin-right: 10px;*/color: black;font-size: 13px;">Authorization Document</a>
                  <p><strong>Powered by Vipin Rathi</strong><br /></p><img src="${static.url('images/openedx-logo.png')}" style="margin-right: 10px; height: 80px">
          </div>
      </div>
  </footer>
</div> -->